<h1>Información método POST</h1>
<form method="post">
    <label>Nombre: </label>
    <input type="text" name="cajanombre"/><br/>
    <label>Edad: </label>
    <input type="text" name="cajaedad"/><br/>
    <button type="submit" class="btn-success">
        Enviar información
    </button>
</form>
<h1>Nombre: @ViewBag.Nombre</h1>
<h1>Edad: @ViewBag.Edad</h1>